<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Sketch site</title>
    <link rel='stylesheet' media='all' href='../media/css/reset.css' />
    <link rel='stylesheet' media='all' href='../media/css/basic.css' />
</head>
<body>
    <div id='pageContainer'>
        <div id='headerContainer'>
            <h1 id='avaliacaoLogo'><a href='#'>Phys</a></h1>
            <h2 id='avaliacaoSlogan'>Avalia&ccedil;&atilde;o F&iacute;sica</h2>
            <ul id='navContainer'>
                <li id='home'><a href='#' title='' accesskey='h'>Home</a></li>
                <li id='cadastro'><a href='#' title='' accesskey='c'>Cadastro</a></li>
                <li id='avaliacao'><a href='#' title='' accesskey='v'>Avalia&ccedil;&atilde;o</a></li>
                <li id='relatorio'><a href='#' title='' accesskey='r'>Relat&oacute;rio</a></li>
                <li id='agenda'><a href='#' title='' accesskey='a'>Agenda</a></li>
                <li id='suporte'><a href='#' title='' accesskey='s'>Suporte</a></li>
                <li id='ajuda'><a href='#' title='' accesskey='j'>Ajuda</a></li>
            </ul>
            <div id='breadCrumb'>&nbsp;</div>
        </div>
        <div id='mainContainer'>
            <div id='contentContainer'>
                <form method='post' action='_self' id='cadastroAvaliadores'>
                    <fieldset id='dadosPessoais'>
                        <legend id='dadosPessoaisLegenda'>Dados Pessoais</legend>
                        <label for='primeiroNome'>
                            <span class='rotulo'>Primeiro nome</span>
                            <span class='campo'><input type='text' id='primeiroNome' maxlength='50'/></span>
                        </label>
                        <label for='sobreNome'>
                            <span class='rotulo'>Sobrenome</span>
                            <span class='campo'><input type='text' id='sobreNome' maxlength='50'/></span>
                        </label>
                        <label for='dataNascimento'>
                            <span class='rotulo'>Data de nascimento</span>
                            <span class='campo'><input type='text' id='dataNascimento' maxlength='10'/></span>
                        </label>
                        <fieldset id='generoOpcao'>
                            <legend id='generoOpcaoLegenda'>Gênero</legend>
                            <label for='generoFeminino'>
                                <span class='checkRadio'><input type='radio' id='generoFeminino' name='genero'/></span>
                                <span class='rotuloCheckRadio'>Feminino</span>
                            </label>
                            <label for='generoMasculino'>
                                <span class='checkRadio'><input type='radio' id='generoMasculino' name='genero'/></span>
                                <span class='rotuloCheckRadio'>Masculino</span>
                            </label>
                        </fieldset>
                    </fieldset>
                    <fieldset id='dadosContato'>
                        <legend id='dadosContatoLegenda'>Dados Contato</legend>
                        <label for='email'>
                            <span class='rotulo'>Email</span>
                            <span class='campo'><input type='text' id='email' maxlength='50'/></span>
                        </label>
                        <label for='telefoneResidencial'>
                            <span class='rotulo'>Telefone residencial</span>
                            <span class='campo'><input type='text' id='telefoneResisdencial' maxlength='13'/></span>
                        </label>
                        <label for='telefoneComercial'>
                            <span class='rotulo'>Telefone comercial</span>
                            <span class='campo'><input type='text' id='telefoneComercial' maxlength='13'/></span>
                        </label>
                        <label for='telefoneCelular'>
                            <span class='rotulo'>Celular</span>
                            <span class='campo'><input type='text' id='telefoneCelular' maxlength='13'/></span>
                        </label>
                    </fieldset>
                    <fieldset id='dadosEndereco'>
                        <legend id='dadosEnderecoLegend'>Endereço</legend>
                        <label for='logradouro'>
                            <span class='rotuloSelect'>Logradouro</span>
                            <span class='campo'>
                                <select id='logradouro'>
                                    <option value='1'>Rua</option>
                                    <option value='2'>Avenida</option>
                                    <option value='3'>Praça</option>
                                    <option value='4'>Parque</option>
                                    <option value='5'>Praça</option>
                                </select>
                            </span>
                        </label>
                        <label for='endereco'>
                            <span class='rotulo'>Endereço</span>
                            <span class='campo'><input type='text' id='endereco' maxlength='200'/></span>
                        </label>
                        <label for='enderecoComplemento'>
                            <span class='rotulo'>Complemento</span>
                            <span class='campo'><input type='text' id='enderecoComplemento' maxlength='20'/></span>
                        </label>
                        <label for='bairro'>
                            <span class='rotulo'>Bairro</span>
                            <span class='campo'><input type='text' id='bairro' maxlength='200'/></span>
                        </label>
                        <label for='cep'>
                            <span class='rotulo'><abbr title='Código de endereçamento postal'>CEP</abbr></span>
                            <span class='campo'><input type='text' id='cep' maxlength='9'/></span>
                        </label>
                        <label for='cidade'>
                            <span class='rotulo'>Cidade</span>
                            <span class='campo'><input type='text' id='cidade' maxlength='50'/></span>
                        </label>
                        <label for='estado'>
                            <span class='rotuloSelect'>Estado</span>
                            <span class='campo'>
                                <select id='estado'>
                                    <option value='1'>AC</option>
                                    <option value='2'>SP</option>
                                    <option value='3'>SC</option>
                                </select>
                            </span>
                        </label>
                    </fieldset>
                    <fieldset id='dadosTitulacao'>
                        <legend id='dadosTitulacaoLegend'>Titulação</legend>
                        <fieldset id='dadosGraduacao'>
                            <legend id='dadosGraduacaoLegend'>Graduação</legend>
                            <label for='cursoGraduacao'>
                                <span class='rotulo'>Curso</span>
                                <span class='campo'><input type='text' id='cursoGraduacao' maxlength='50'/></span>
                            </label>
                            <label for='universidadeGraduacao'>
                                <span class='rotulo'>Universidade</span>
                                <span class='campo'><input type='text' id='universidadeGraduacao' maxlength='50'/></span>
                            </label>
                        </fieldset>
                        <fieldset id='dadosEspecializacao'>
                            <legend id='dadosEspecializacaoLegend'>Especialização</legend>
                            <label for='cursoEspecializacao'>
                                <span class='rotulo'>Curso</span>
                                <span class='campo'><input type='text' id='cursoEspecializacao' maxlength='50'/></span>
                            </label>
                            <label for='universidadeEspecializacao'>
                                <span class='rotulo'>Universidade</span>
                                <span class='campo'><input type='text' id='universidadeEspecializacao' maxlength='50'/></span>
                            </label>
                        </fieldset>
                    </fieldset>
                </form>
            </div>
            <div id='auxContainer'>
                <table id='calendario' cellspacing='0'>
                    <caption>Calendário</caption>
                    <thead>
                        <tr>
                            <th colspan='2'>Previous</th>
                            <th colspan='4'>Ano</th>
                            <th colspan='2'>Next</th>
                        </tr>
                        <tr>
                            <th colspan='2'>Previous</th>
                            <th colspan='4'>Mês</th>
                            <th colspan='2'>Next</th>
                        </tr>
                        <tr>
                            <th>Sem</th>
                            <th>Seg</th>
                            <th>Ter</th>
                            <th>Qua</th>
                            <th>Qui</th>
                            <th>Sex</th>
                            <th>Sáb</th>
                            <th>Dom</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan='8'>Atividades do mês</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <th>01</th>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>06</td>
                            <td>07</td>
                        </tr>
                        <tr>
                            <th>02</th>
                            <td>08</td>
                            <td>09</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <th>03</th>
                            <td>15</td>
                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                        </tr>
                        <tr>
                            <th>04</th>
                            <td>22</td>
                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <th>05</th>
                            <td>29</td>
                            <td>30</td>
                            <td>31</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id='footerContainer'>
            <dl id='copyright'>
                <dt>Copyright João Paulo Dubas</dt>
                <dd>Todos os direitos reservados</dd>
            </dl>
        </div>
    </div>
</body>
</html>
