<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Layout programa avaliação beta</title>
        <link rel='stylesheet' type='text/css' media='screen,projection' href='../media/css/reset.css'/>
    </head>
    <body>
        <div id='headerContainer'>
            <div id='header'>
                <div id='navBar'>
                    <ul id='navigation'>
                    </ul>
                    <form id='siteSearchContainer' method='post' action='#'>
                        <label for='siteSearch'>
                            <span class='labelText'>Procura</span>
                            <input type='text' id='siteSearch' name='siteSearch'/>
                        </label>
                        <button type='submit' id='siteSearchSubmit' name='siteSearchSubmit' value='send'>Procurar</button>
                    </form>
                </div>
                <div id='logo'></div>
            </div>
        </div>
        <div id='bodyContainer'>
            <div id='contentContainer'>
            </div>
            <div id='infoContainer'>
            </div>
        </div>
    </body>
</html>
