html,body {
    background-color: #6693c0; /* 99c6f3 */
    color: #022446;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    line-height: 1.25;
}

/**
 * Headers
 */
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    margin: 0.5em 0 0.25em;
}

h2,h4,h6 {
    font-style: italic;
}

h1 {
    font-size: 1.75em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.625em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.375em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.125em;
}

/**
 * Lists ordered, unordered, and definition
 */
ul,ol,dl {
    margin: 0.75em 0;
    padding: 0 1.25em;
}

ul,ol {
    list-style-position: outside;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

li {
    margin: 0.5em 0;
}

dt,dd {
    margin: 0.25em 0;
}

dt {
    font-weight: bold;
    margin-left: -0.875em;
}

dd {
    margin-left: 0.5em;
}

/**
 * Paragraph, blockquote
 */
p,blockquote {
    margin: 0.75em 0;
}

/**
 * Tables
 */
caption {
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
}

th {
    font-weight: bold;
}

thead th {
    text-align: center;
}

tfoot th,tfoot td {
    font-style: italic;
    font-size: 0.875em;
}