/*elementos do formulario--------------------------------------------------------------------------------*/
form,fieldset,label {
    overflow: hidden;
}
fieldset {
    border-width: 2px 0 0;
    border-style: solid;
    border-color: #000;
    margin-bottom: 15px;
}
legend {
    font-weight: bold;
    padding: 2px 2px 2px 0;
}
label {
    display: block;
    border-bottom: 1px solid #000;
    margin: 5px 0;
    padding-bottom: 4px;
}
fieldset fieldset {
    background: transparent;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #000;
    margin-bottom: 0;
}
fieldset fieldset label {
    border-bottom: 0;
    margin: 2px 0;
    padding-bottom: 2px;
}
/*estado dos elementos do form*/
.inativo,.ativo,.focus {
    border-style: solid;
    border-width: 1px;
    padding: 2px 0;
}
.inativo {
    border-color: #636363;
    background-color: #ececec;
    color: #636363;
}
.ativo {
    border-color: #000;
    background-color: #fff;
    color: #000;
}
.focus {
    border-color: #cecece;
    background-color: #363636;
    color: #cecece;
}
/*-------------------------------------------------------------------------------------------------------*/